*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    position: relative;
    width: 92vw;
    height: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
}

.slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
}

.slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slider .slide .content{
    position: absolute;
    color: #222;
    background-color: rgba(255, 255, 255, 0.6);
    width: 60%;
    height: auto;
    margin-left: 10%;
    margin-top: 10%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgb(1 1 1/5%);
}

.content h1{
    padding: 15px 10px;
    font-size: 40px;
}

.content p{
    padding: 5px 10px;
    line-height: 1.5;
    font-size: 22px;
}

.navigation{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider:hover .navigation{
    opacity: 1;
    z-index: 0;
}

.prevBtn, .nextBtn{
    z-index: 90;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    cursor: pointer;
}

.prevBtn:hover, .nextBtn:hover{
    background: rgba(255, 255, 255, 0.6);
}

.prevBtn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nextBtn{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media (max-width: 900px) {
    .slider{
        width: 95%;
        height: 500px;
    }

    .slider .slide .content{
        position: absolute;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .navigation{
        height: 500px;
    }
}

@media (max-width: 720px) {
    .slider .navigation{
        height: 420px;
    }

}

@media (max-width: 550px){
    .slider, .navigation{
        height: 350px;
    }
}

