* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    background-color: #0c111b;
}

.logo img {
    width: 155px;
    float: left;
    margin: 20px 0 0 20px;
}

.menu {
    list-style: none;
    float: left;
    height: 75px;
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 10px;
}

.menu li a {
    transition: 0.4s;
    display: block;
    text-decoration: none;
    color: lightgrey;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 12px;
    text-transform: uppercase;
}

.menu li a:hover {
    background: linear-gradient(to right, #82dcff, #e584fc);
    color: black;
}

.menu li a i {
    margin-right: 8px;
}

.show-btn,
.hide-btn,
#check {
    font-size: 30px;
    line-height: 75px;
    color: lightgray;
    display: none;
    float: left;
    padding-left: 20px;
    position: fixed;
    left: 15px;
}

.searchbar {
    float: right;
    font-size: 20px;
    margin: 18px 20px 0 0;
    border-bottom: 1px solid white;
    padding: 0 5px 5px 5px;
    min-width: 290px;
}

.search-url-bar,
.search-btn {
    display: inline-block;
}

.search-url-bar {
    margin-right: 8px;
}

.search-url-bar input[type="search"] {
    background-color: transparent;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    outline: none;
    color: white;
}

.search-btn a {
    text-decoration: none;
    display: block;
}

.search-btn a i {
    color: lightgray;
}

.search-btn a i:hover {
    color: white;
}

@media screen and (max-width: 1000px) {
    .logo img {
        margin-left: 80px;
    }
    .show-btn,
    .hide-btn {
        display: block;
    }
    .hide-btn {
        display: none;
    }
    .menu {
        position: fixed;
        display: block;
        top: 65px;
        left: -100%;
        width: 220px;
        height: auto;
        /* background-color: #182135; */
        background-color: #080b12;
        transition: 0.4s;
        border-radius: 8px;
    }
    .menu li {
        display: block;
        margin: 10px 10px 10px -22px;
    }
    #check:checked~.menu {
        left: 20px;
    }
    #check:checked~.show-btn {
        visibility: hidden;
    }
    #check:checked~.hide-btn {
        display: block;
    }
}

@media screen and (max-width: 550px) {
    .header {
        height: 120px;
    }
    .searchbar {
        float: left;
        margin: 15px 0 10px 20px;
    }
}


/* CAROUSEL SECTION CSS */

.carosel-container {
    position: relative;
    width: 100%;
    height: 450px;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 80px;
}

.carosel {
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;
}

.slider {
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
}

.slider img {
    width: 70%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.slide-content {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, #030b17 80%, #0c111b00);
    color: #fff;
}

.movie-title {
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 80px;
}

.movie-des {
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 30px;
    opacity: 0.8;
}